<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="copy">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
        <div class="collapse navbar-collapse justify-content-md-center">
            <a class="navbar-brand fs-2" href="/">Codecool Shop</a>
            <div class="modal fade" id="mainMenuModal" aria-hidden="true" aria-labelledby="mainMenuModalLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">SHOP BY CATEGORY OR SUPPLIER</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="vstack gap-3">
                                <div class="bg-light border">
                                    <button class="btn btn-light" data-bs-target="#categoriesModal" data-bs-toggle="modal" data-bs-dismiss="modal">Categories</button><br><br>
                                    <button class="btn btn-light" data-bs-target="#suppliersModal" data-bs-toggle="modal" data-bs-dismiss="modal">Suppliers</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="categoriesModal" aria-hidden="true" aria-labelledby="categoriesModalLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="categoriesModalLabel">Categories</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/" method="post">
                                <div class="vstack gap-3" th:each="category,iterStat : ${categories}">
                                    <div class="bg-light border">
                                        <button type="submit" name="category" th:value="${category.getId()}" class="btn btn-light" th:text="${category.getName()}">Category name</button><br><br>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#mainMenuModal" data-bs-toggle="modal">Back to Menu</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="suppliersModal" aria-hidden="true" aria-labelledby="suppliersModalLabel" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="suppliersModalLabel">Suppliers</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/" method="post">
                                <div class="vstack gap-3" th:each="supplier,iterStat : ${suppliers}">
                                    <div class="bg-light border">
                                        <button type="submit" name="supplier" th:value="${supplier.getId()}" class="btn btn-light" th:text="${supplier.getName()}">Supplier name</button><br><br>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#mainMenuModal" data-bs-toggle="modal">Back to Menu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>



    <div class="nav-scroller bg-body shadow-sm">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="btn btn-outline-dark" data-bs-toggle="modal" href="#mainMenuModal" role="button">Menu</a>
                <a class="btn btn-outline-dark" href="register" th:if="${session.user == null}">Register</a>
                <a class="btn btn-outline-dark" href="login" th:if="${session.user == null}">Login</a>
                <a class="btn btn-outline-dark" href="logout" th:if="${session.user != null}">Logout</a>
                <p th:unless="${session.user == null}">Logged in as <span th:text="${session.user.name}"></span></p>
                <div class="d-flex">
                    <button type="button" class="btn btn-outline-info viewcartbutton" data-bs-scroll="true" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                        </svg>
<!--                        <span id="cartQuantity" class="badge bg-light text-dark rounded-pill align-text-bottom" th:text="${session.size}"></span>-->
                    </button>
                </div>
            </div>
        </nav>
    </div>
    <div action="/cart" style="margin-top: 8.1rem" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header line-height-fixed font-size-lg">
            <strong id="offcanvasRightLabel" class="mx-auto">Your Cart</strong>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body" onclick="this.reload()">
            <ul class="list-group list-group-lg list-group-flush">
                <li class="list-group-item" th:each="prod : ${session.cart}">
                    <div class="row align-items-center">
                        <div class="col-4">

                            <!-- Image -->
                            <a href="/">
                                <img class="img-fluid" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="...">
                            </a>

                        </div>
                        <div class="col-8">

                            <!-- Title -->
                            <p class="font-size-sm font-weight-bold mb-6">
                                <a class="text-body" th:text="${prod.name}"></a> <br>
                                <span class="text-muted" th:text="${prod.defaultPrice} + ' ' + ${prod.defaultCurrency}"></span>
                            </p>

                            <!--Footer -->
                            <div class="d-flex align-items-center">

                            <td data-th="Quantity">
                                <input type="number" class="form-control text-center quantitychanger" th:value="${prod.quantity}" min="0" max="168" th:data-id="${prod.id}">
                            </td>

                                <!-- Remove -->
                                <a class="font-size-xs text-gray-400 ml-auto" href="#!">
                                    <i class="fe fe-x"></i> Remove
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
                <tfoot>
                <tr>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center" style="width:10%;"><strong id="totalprice">Total :$0</strong></td>
                    <td><a href="/payment" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                </tr>
                </tfoot>
            </table>
            <div class="product" >

            </div>
        </div>
    </div>
</header>

</body>
</html>
