<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<main style="padding-top: 5rem" th:fragment="copy" class="container" role="main">
    <div style="padding-bottom: 5px" class="d-flex justify-content-start">
        <strong class="fs-5" th:text="${category == null ? supplier.name+' supplier' : category.name}">Title</strong>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=".payment-modal" id="paymentButton">Payment</button>
            <div class="modal fade bd-example-modal-lg payment-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form method="post">
                            <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <label for="deliveryAddress">Delivery Address</label>
                                <input type="text" class="form-control" id="deliveryAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-group">
                                <label for="billingAddress">Billing Address</label>
                                <input type="text" class="form-control" id="billingAddress" placeholder="Apartment, studio, or floor">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" class="form-control" id="inputZip">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Delivery address is the same with billing address
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=".credit-card-modal" id="creditCardButton">Continue with credit card</button>
                        </form><br>
                        <form action="https://www.paypal.com/us/signin">
                            <button class="btn btn-primary" id="paypalButton">Continue with Paypal</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>

<!--    checkout modal starts here  -->
    <button type="button" id="checkoutBtn" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Checkout!</button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form>
                    <div class="form-group row">
                        <label for="cardNumber" class="col-sm-2 col-form-label">Card Number</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="cardNumber" maxlength="8" minlength="8">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cardHolder" class="col-sm-2 col-form-label">Card Holder</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cardHolder">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="expiryDate" class="col-sm-2 col-form-label">Expiry Date</label>
                        <div class="col-sm-10">
                            <input type="month" class="form-control" id="expiryDate">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cvvCode" class="col-sm-2 col-form-label">CVV Code</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cvvCode" maxlength="3" minlength="3">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
</body>
</html>
